@charset "UTF-8";

#side #gnav li { margin-bottom: 5px; }
#side #gnav { margin-left: 40px; margin-bottom: 30px; }
#side .btnStart { margin-left: 40px; margin-bottom: 30px; }
#side .logoGmobb { margin-left: 40px; margin-bottom: 0px; }
#side .listLink { margin-left: 40px; margin-bottom: 0px; }
#side .listLink a { text-decoration: underline; }