<?php

$title = "";
$description = "";
$imagel = "";
$sharetext = "";

switch($id) {
	case "stmp0001":
		$title = "ブラウヌ";
		$description = "繊細で素直な心の持ち主。ポーカーフェイスのタフガイくま。";
		$imagel = $id."_01";
		$sharetext = "【無料スタンプ】ポーカーフェイスのタフガイくま。ブラウヌ登場！ #マッスルトーク でみんなも気持ちを伝えよう！";
		
	break;
	case "stmp0002":
		$title = "コヌー";
		$description = "繊細で素直な心の持ち主。ポーカーフェイスのタフガイくま。";
		$imagel = $id."_01";
		$sharetext = "【無料スタンプ】基本的には明るく元気なタフガイうさぎ。コヌー登場！ #マッスルトーク  でみんなも気持ちを伝えよう";
	break;
	case "stmp0003":
		$title = "ヌーン";
		$description = "気分屋なところもある。基本的には明るく元気なタフガイうさぎ。";
		$imagel = $id."_02";
		$sharetext = "【無料スタンプ】多重人格設定の中二病患者・行動予測がしずらいタフガイ。ヌーン登場！ #マッスルトーク でみんなも気持ちを伝えよう！";
	break;
	case "stmp0004":
		$title = "ジェーヌス";
		$description = "喜怒哀楽がストレートだが多重人格設定の中二病患者。行動予測がしずらいタフガイ。";
		$imagel = $id."_01";
		$sharetext = "【無料スタンプ】うざいけど憎めいないナルシストタフガイ。ジェーヌス登場！ #マッスルトーク でみんなも気持ちを伝えよう！";
	break;
	case "stmp0005":
		$title = "マッスルハイスクール実力講師陣";
		$description = "身だしなみには余念が無い。うざいけど憎めいないナルシストタフガイ。";
		$imagel = $id."_01";
		$sharetext = "【無料スタンプ】マッスルハイスクルール実力講師陣が登場！ #マッスルトーク でみんなも気持ちを伝えよう！";
	break;
	case "stmp0006":
		$title = "さぶちゃん";
		$description = "漢なら一度は憧れるさぶちゃんがスタンプになって登場";
		$imagel = $id."_01";
		$sharetext = "【無料スタンプ】漢なら一度は憧れるさぶちゃん登場！ #マッスルトーク でみんなも気持ちを伝えよう！";
	break;
	case "stmp0007":
		$title = "さきがけ！マッスルの盛り";
		$description = "みんなハマってる大人気ゲーム「さきがけ！マッスルの盛り！」がスタンプになったよ！";
		$imagel = $id."_01";
		$sharetext = "【無料スタンプ】大人気ゲーム「さきがけ！マッスルの盛り！」登場！ #マッスルトーク でみんなも気持ちを伝えよう！";
	break;
	case "stmp0008":
		$title = "おっさんとトム";
		$description = "いつも仲良しおっさんとトムのスタンプが早くも登場！";
		$imagel = $id."_01";
		$sharetext = "【無料スタンプ】いつも仲良しおっさんとトムが登場！ #マッスルトーク でみんなも気持ちを伝えよう！";
	break;
	case "stmp0009":
		$title = "弾痕ジャーキー";
		$description = "新進気鋭のお笑いコンビがスタンプになりました";
		$imagel = $id."_01";
		$sharetext = "【無料スタンプ】新進気鋭のお笑いコンビ登場！ #マッスルトーク でみんなも気持ちを伝えよう！";
	break;
	case "stmp0010":
		$title = "ブラック・マジシャン・ボーイ";
		$description = "黒魔法使いのクールなあいつがスタンプで登場！";
		$imagel = $id."_01";
		$sharetext = "【無料スタンプ】黒魔法使いのクールなあいつが登場！ #マッスルトーク でみんなも気持ちを伝えよう！";
	break;
	case "stmp0011":
		$title = "肉戸家　お父さん";
		$description = "大人気！肉戸家　お父さんのスタンプ第二弾がついに登場！";
		$imagel = $id."_01";
		$sharetext = "【無料スタンプ】肉戸家　お父さんのスタンプ第二弾登場！ #マッスルトーク でみんなも気持ちを伝えよう！";
	break;
	case "stmp0012":
		$title = "煉獄のミサワ";
		$description = "はるか上空から見下ろすことで心地良いイライラを与えられる、次世代スタンプ！";
		$imagel = $id."_01";
		$sharetext = "【無料スタンプ】はるか上空から見下ろすやつが登場！ #マッスルトーク でみんなも気持ちを伝えよう！";
	break;
	case "stmp0013":
		$title = "アーモンド";
		$description = "ナイジュリアの狂犬アーモンドの怒りのスタンプが登場！";
		$imagel = $id."_01";
		$sharetext = "【無料スタンプ】ナイジュリアの狂犬アーモンド登場！ #マッスルトーク でみんなも気持ちを伝えよう！";
	break;
	case "stmp0015":
		$title = "アベンジャーズ";
		$description = "日本よコレがスタンプだ！世界を熱狂させたマッスルヒーローがスタンプになって登場だ！";
		$imagel = $id."_01";
		$sharetext = "【無料スタンプ】日本よコレがスタンプだ！世界を熱狂させたマッスルヒーローが登場！ #マッスルトーク でみんなも気持ちを伝えよう！";		
	break;
}

?>


<div id="main">
<div id="nav">
<p class="btnBack"><a href="stamp_shop.php"><img src="http://cache.img.gmo.jp/muscle2013/common/images/btn_back-01.png" alt="" /></a></p>
<h2>スタンプショップ</h2>
<p class="btnSub"><a href="javascript:void(0)"><img src="http://cache.img.gmo.jp/muscle2013/common/images/btn_sub-01.png" alt="" /></a></p>
<?php include 'panels.html'; ?>
</div><!-- #nav -->
<div id="content">
<div class="scrollArea">
<div class="stampInfoBox">
<div class="contents">
<h3 class="titles"><span><?php echo $title; ?></span></h3>
<p class="labels"><img src="http://cache.img.gmo.jp/muscle2013/common/images/btn-stp_01.png" alt="無料マッスル"></p>
<p><?php echo $description; ?></p>
</div>
<p class="img"><img src="http://cache.img.gmo.jp/muscle2013/muscle_talk/images/stamp/<?php echo $imagel; ?>.png" alt=""></p>
</div><!-- .stampInfoBox -->

<p class="btnStampShare"><a href="javascript:void(0)"><img src="http://cache.img.gmo.jp/muscle2013/common/images/btn-send_01.png" alt="友だちに教える" /></a></p>

<hr class="line">
<ul class="stampItem">
<?php
for($i = 0; $i < 10; $i++) {
	$thumb = "http://cache.img.gmo.jp/muscle2013/muscle_talk/images/stamp/".$id."_0".($i+1).".png";
	$fileheader = @get_headers($thumb);
	
	if($fileheader[0] === "HTTP/1.1 200 OK") {
?>
<li><img src="<?php echo $thumb; ?>" alt=""></a></li>
<?php
	}
}
?>
</ul>

  
</div><!-- .scrollArea -->
</div><!-- #content -->
</div><!-- #main -->
<?php
	
	$linkTwitter = "http://twitter.com/share?url=http://talk.gmobb.jp/muscle_talk/stamp.php?id=".$id;
	$linkTwitter .= "&text=".$sharetext;
	$linkTwitter .= "&via=gmobb_pr&related=gmobb_p";
	
	$linkfk = "http://www.facebook.com/sharer.php?u=http://talk.gmobb.jp/muscle_talk/stamp.php?id=".$id."&amp;t=".$sharetext;	
	
?>
<div id="shareStamp">
<div class="inner">
<p>どちらで共有する？ね？どうする？どちらで共有する？ね？どうする？どちらで共有する？ね？どうする？どちらで共有する？ね？どうする？どちらで共有する？ね？どうする？</p>
<ul class="btns">
<li class="twitter"><a href="javascript:void(0)" onclick="window.open('<?php echo $linkTwitter; ?>','windowtwitter','scrollbars=1,width=650,height=450');"><img src="http://cache.img.gmo.jp/muscle2013/common/images/btn-twitter_01.png" alt=""></a><span><a href="https://twitter.com/" target="_blank">Twitterアカウントの作成</a></span></li>
<li class="fk"><a href="javascript:void(0)" onclick="window.open('<?php echo $linkfk; ?>','windowtwitter','scrollbars=1,width=650,height=450');"><img src="http://cache.img.gmo.jp/muscle2013/common/images/btn-fk_01.png" alt=""></a><span><a href="http://ja-jp.facebook.com/" target="_blank">Facebookアカウントの作成</a></span></li>
</ul>
</div>
<p class="btnClose"><a href="javascript:void(0)"><img src="http://cache.img.gmo.jp/muscle2013/common/images/btn-close_01.png" alt=""></a></p>
</div><!-- .share -->
<div id="opacityShareStamp"></div>
