
<div id="main">
<div id="nav">
<p class="btnBack"><a href="./"><img src="http://cache.img.gmo.jp/muscle2013/common/images/btn_back-01.png" alt="" /></a></p>
<h2>スタンプショップ</h2>
<p class="btnSub"><a href="javascript:void(0)"><img src="http://cache.img.gmo.jp/muscle2013/common/images/btn_sub-01.png" alt="" /></a></p>
<?php include 'panels.html'; ?>
</div><!-- #nav -->
<div id="content">
<div class="scrollArea">
<ul class="listStamp">    
    <li><a href="stamp.php?id=stmp0001"><img src="http://cache.img.gmo.jp/muscle2013/muscle_talk/images/stamp/stmp0001_01.png" alt="" class="thumb"> <span class="title">ブラウヌ</span>
	<span class="btns"><img src="http://cache.img.gmo.jp/muscle2013/common/images/btn-stp_01.png" alt="無料マッスル"></span>
	<img src="http://cache.img.gmo.jp/muscle2013/common/images/ico-arrow_01.png" alt="" class="arrow"></a></li>
	<li><a href="stamp.php?id=stmp0002"><img src="http://cache.img.gmo.jp/muscle2013/muscle_talk/images/stamp/stmp0002_01.png" alt="" class="thumb"> <span class="title">コヌー</span>
	<span class="btns"><img src="http://cache.img.gmo.jp/muscle2013/common/images/btn-stp_01.png" alt="無料マッスル"></span>
	<img src="http://cache.img.gmo.jp/muscle2013/common/images/ico-arrow_01.png" alt="" class="arrow"></a></li>
	<li><a href="stamp.php?id=stmp0003"><img src="http://cache.img.gmo.jp/muscle2013/muscle_talk/images/stamp/stmp0003_02.png" alt="" class="thumb"> <span class="title">ヌーン</span>
	<span class="btns"><img src="http://cache.img.gmo.jp/muscle2013/common/images/btn-stp_01.png" alt="無料マッスル"></span>
	<img src="http://cache.img.gmo.jp/muscle2013/common/images/ico-arrow_01.png" alt="" class="arrow"></a></li>
	<li><a href="stamp.php?id=stmp0004"><img src="http://cache.img.gmo.jp/muscle2013/muscle_talk/images/stamp/stmp0004_01.png" alt="" class="thumb"> <span class="title">ジェーヌス</span>
	<span class="btns"><img src="http://cache.img.gmo.jp/muscle2013/common/images/btn-stp_01.png" alt="無料マッスル"></span>
	<img src="http://cache.img.gmo.jp/muscle2013/common/images/ico-arrow_01.png" alt="" class="arrow"></a></li>
	<li><a href="stamp.php?id=stmp0005"><img src="http://cache.img.gmo.jp/muscle2013/muscle_talk/images/stamp/stmp0005_01.png" alt="" class="thumb"> <span class="title">マッスルハイスクール実力講師陣</span>
	<span class="btns"><img src="http://cache.img.gmo.jp/muscle2013/common/images/btn-stp_01.png" alt="無料マッスル"></span>
	<img src="http://cache.img.gmo.jp/muscle2013/common/images/ico-arrow_01.png" alt="" class="arrow"></a></li>
	<li><a href="stamp.php?id=stmp0006"><img src="http://cache.img.gmo.jp/muscle2013/muscle_talk/images/stamp/stmp0006_01.png" alt="" class="thumb"> <span class="title">さぶちゃん</span>
	<span class="btns"><img src="http://cache.img.gmo.jp/muscle2013/common/images/btn-stp_01.png" alt="無料マッスル"></span>
	<img src="http://cache.img.gmo.jp/muscle2013/common/images/ico-arrow_01.png" alt="" class="arrow"></a></li>
	<li><a href="stamp.php?id=stmp0007"><img src="http://cache.img.gmo.jp/muscle2013/muscle_talk/images/stamp/stmp0007_01.png" alt="" class="thumb"> <span class="title">さきがけ！マッスルの盛り</span>
	<span class="btns"><img src="http://cache.img.gmo.jp/muscle2013/common/images/btn-stp_01.png" alt="無料マッスル"></span>
	<img src="http://cache.img.gmo.jp/muscle2013/common/images/ico-arrow_01.png" alt="" class="arrow"></a></li>
	<li><a href="stamp.php?id=stmp0008"><img src="http://cache.img.gmo.jp/muscle2013/muscle_talk/images/stamp/stmp0008_01.png" alt="" class="thumb"> <span class="title">おっさんとトム</span>
	<span class="btns"><img src="http://cache.img.gmo.jp/muscle2013/common/images/btn-stp_01.png" alt="無料マッスル"></span>
	<img src="http://cache.img.gmo.jp/muscle2013/common/images/ico-arrow_01.png" alt="" class="arrow"></a></li>
	<li><a href="stamp.php?id=stmp0009"><img src="http://cache.img.gmo.jp/muscle2013/muscle_talk/images/stamp/stmp0009_01.png" alt="" class="thumb"> <span class="title">弾痕ジャーキー</span>
	<span class="btns"><img src="http://cache.img.gmo.jp/muscle2013/common/images/btn-stp_01.png" alt="無料マッスル"></span>
	<img src="http://cache.img.gmo.jp/muscle2013/common/images/ico-arrow_01.png" alt="" class="arrow"></a></li>
	<li><a href="stamp.php?id=stmp0010"><img src="http://cache.img.gmo.jp/muscle2013/muscle_talk/images/stamp/stmp0010_01.png" alt="" class="thumb"> <span class="title">ブラック・マジシャン・ボーイ</span>
	<span class="btns"><img src="http://cache.img.gmo.jp/muscle2013/common/images/btn-stp_01.png" alt="無料マッスル"></span>
	<img src="http://cache.img.gmo.jp/muscle2013/common/images/ico-arrow_01.png" alt="" class="arrow"></a></li>
	<li><a href="stamp.php?id=stmp0011"><img src="http://cache.img.gmo.jp/muscle2013/muscle_talk/images/stamp/stmp0011_01.png" alt="" class="thumb"> <span class="title">肉戸家　お父さん</span>
	<span class="btns"><img src="http://cache.img.gmo.jp/muscle2013/common/images/btn-stp_01.png" alt="無料マッスル"></span>
	<img src="http://cache.img.gmo.jp/muscle2013/common/images/ico-arrow_01.png" alt="" class="arrow"></a></li>
	<li><a href="stamp.php?id=stmp0012"><img src="http://cache.img.gmo.jp/muscle2013/muscle_talk/images/stamp/stmp0012_01.png" alt="" class="thumb"> <span class="title">煉獄のミサワ</span>
	<span class="btns"><img src="http://cache.img.gmo.jp/muscle2013/common/images/btn-stp_01.png" alt="無料マッスル"></span>
	<img src="http://cache.img.gmo.jp/muscle2013/common/images/ico-arrow_01.png" alt="" class="arrow"></a></li>
	<li><a href="stamp.php?id=stmp0013"><img src="http://cache.img.gmo.jp/muscle2013/muscle_talk/images/stamp/stmp0013_01.png" alt="" class="thumb"> <span class="title">アーモンド</span>
	<span class="btns"><img src="http://cache.img.gmo.jp/muscle2013/common/images/btn-stp_01.png" alt="無料マッスル"></span>
	<img src="http://cache.img.gmo.jp/muscle2013/common/images/ico-arrow_01.png" alt="" class="arrow"></a></li>
	<li><a href="stamp.php?id=stmp0015"><img src="http://cache.img.gmo.jp/muscle2013/muscle_talk/images/stamp/stmp0015_01.png" alt="" class="thumb"> <span class="title">アベンジャーズ</span>
	<span class="btns"><img src="http://cache.img.gmo.jp/muscle2013/common/images/btn-stp_01.png" alt="無料マッスル"></span>
	<img src="http://cache.img.gmo.jp/muscle2013/common/images/ico-arrow_01.png" alt="" class="arrow"></a></li>
</ul>
</div><!-- .scrollArea -->
</div><!-- #content -->
</div><!-- #main -->
  
  
