@charset "utf-8";

/* ===== Structure ===== */

body {
	background: #efefef url(img/bg.png) 0 0 repeat-x;
}

#wrap {
	position: relative;
}

#header {
	background: #efefef url(img/bg.png) 0 0 repeat-x;
	height: 86px;
	position: relative;
	width: 100%;
	min-width: 760px;
	z-index: 1;

	#innerHeader {
		width: 760px;
		margin: 0 auto;
		padding: 4px 0 0 0;
	}

	.logo {
		float: left;
		padding-left: 10px;
		width: 78px;
	}

	.logoGmoBB {
		float: right;
		width: 108px;
		padding: 0 2px 0 0;
	}
}

body.cacao {
	background: #efefef url(img/bg_cacao.png) 0 0 repeat-x;
	#header {
		background: url(img/bg_cacao.png) 0 0 repeat-x;
		.logo {
			float: left;
			padding-left: 10px;
			width: 85px;
			height: 75px;
			a {
				display: block;
				width: 85px;
				height: 75px;
				background: url(img/logo_cacao.png) 0 0 no-repeat;
			}
			img {
				display: none;
			}
		}
	}
}



#footer {
	background: url(img/bg_footer.png) 0 0 repeat-x;
	height: 56px;
	width: 100%;
	min-width: 760px;
	position: relative;
	z-index: 1;
	#innerFooter {
		width: 760px;
		margin: 0 auto;
		height: 56px;
	}

	.listSocial {
		margin-top: 18px;
		float: left;
		li {
			float: left;
			&.line {
				width: 94px;
			}
			&.fk {
				width: 120px;
			}
			&.twitter {
				width: 107px;
			}
			&.google {
				width: 77px;
			}
			&.bing {
				width: 50px;
			}
		}
	}
	
	.copyright {
		float: right;
		color: #fff;
		font-size: 10px;
		line-height: 56px;
		@include text-shadow(#37ad00 -1px -1px 0);
	}
}

#main {
	width: 760px;
	margin: 0 auto;
	background: url(img/bg_main.png) 0 0 repeat-y;
	position: relative;

}

#content {
	margin: 0 10px;
	border-bottom: 10px solid #1c1c1c;
	height: 400px;
	position: relative;
}

#nav {
	height: 92px;
	position: relative;
	z-index: 2;
	background: url(img/bg_nav.png) 0 0 repeat-x;
	h2 {
		font-size: 36px;
		line-height: 92px;
		text-align: center;
		color: #fff;
		@include text-shadow(#1e1f1f -1px -1px 0);
		
	}

	.btnBack {
		position: absolute;
		z-index: 1;
		left: 26px;
		top: 15px;
	}

	.btnSub {
		position: absolute;
		z-index: 1;
		right: 26px;
		top: 15px;
	}

	.listSubPanel {
		position: absolute;
		width: 724px;
		z-index: 3;
		top: 91px;
		left: 10px;
		display: none;
		li {
			float: left;
			img {
				display: block;
			}
		}
	}
}